/*
 * Copyright (c) 2020 Amazon.com Inc.
 *
 * SPDX-License-Identifier: (GPL-2.0 OR MIT)
 */

/dts-v1/;

#include "mt8110-bellatrix.dtsi"

/ {
	model = "MT8110 Bellatrix device";

	/* amazon virtual sensor */
	#include "malbec_virtual_sensor.dtsi"
};

&i2c0 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-1 = <&i2c0_pins>;

	opt3001@44 {
		compatible = "ti,opt3001";
		pinctrl-names = "default", "sleep";
		pinctrl-0 = <&opt3001_pins_default>;
		pinctrl-1 = <&opt3001_pins_default>;
		reg = <0x44>;
		interrupt-parent = <&pio>;
		interrupts = <100 IRQ_TYPE_EDGE_FALLING>;

		hwsku-gpios = <&pio 38 0>;
	};

	/*white*/
	fl_white: lm36922h@37 {
		compatible = "ti,lm36922h";
		pinctrl-names = "default", "sleep";
		pinctrl-0 = <&lm36922h_pins>;
		pinctrl-1 = <&lm36922h_pins_sleep>;
		reg = <0x37>;
		enable-gpios = <&pio 45 GPIO_ACTIVE_HIGH>;

		bl@0{
			label = "lm36922h-bl";
			reg=<0>;
			frontlight=<0>;

		};
	};

	/*Amber*/
	fl_amber: lm36923@36 {
		compatible = "ti,lm36923";
		pinctrl-names = "default", "sleep";
		pinctrl-0 = <&lm36923_pins>;
		pinctrl-1 = <&lm36923_pins_sleep>;
		reg = <0x36>;
		enable-gpios = <&pio 47 GPIO_ACTIVE_HIGH>;

		bl@0{
			label = "lm36923-bl";
			reg=<0>;
			frontlight=<1>;
		};
	};

	/*white-Amber FP9966*/
	fp9966@34 {
		compatible = "fp9966";
		pinctrl-names = "default", "sleep";
		pinctrl-0 = <&fp9966_pins_default>;
		pinctrl-1 = <&fp9966_pins_sleep>;
		reg = <0x34>;
		enable-gpios = <&pio 44 GPIO_ACTIVE_HIGH>;

		bl@0{
			label = "fp9966-bl0";
			enable = <1>;
			mapmode = <1>;	/*0: Linear mapping, 1: Exponential mapping */
		};

		bl@1{
			label = "fp9966-bl1";
			enable = <1>;
			mapmode = <1>;	/*0: Linear mapping, 1: Exponential mapping */
		};
	};

	fitipmic: fiti@18 {
		compatible = "fiti,pmic";
		reg = <0x18>;
		vgh_ext = <0>;
		vgl_ext = <0>;
		xon_len = <2510>;
		xon_delay = <0>;
		vgh = <28000>;
		vgl = <20000>;
		vcom_setting = <1400>;
		vghnm_setting = <2900>;
		vghnm_ext = <1500>;
		vpos = <15000>;
		vneg = <15000>;
		epd-pmic-en = <&bd71828 1 0>;
		epd-pmic-op = <&pio 9 0>;
		epd-pmic-nm = <&pio 8 0>;
		interrupt-parent = <&pio>;
		interrupts = <10 IRQ_TYPE_LEVEL_HIGH>;
		deb-gpios = <&pio 5 0>;
		debounce = <16>;
		epd-supply = <&bd71828_ldo_dvcc_epd>;
		pinctrl-names = "active", "inactive";
		pinctrl-0 = <&fiti_pins_active>;
		pinctrl-1 = <&fiti_pins_inactive>;
		status = "okay";
	};

	wireless_power: p922x@61 {
		compatible = "IDT,idt_wireless_power";
		reg = <0x61>;
		interrupt-parent = <&pio>;
		interrupts = <34 IRQ_TYPE_EDGE_FALLING 35 IRQ_TYPE_EDGE_RISING>;

		wpc-mivr = <4500000 4500000>;
		wpc-switch-voltage = <4500 5000 5500 8500 9000 9500>;
		bpp-5w-fod = /bits/ 8 <154 52 130 58 149 32 144 36
					146 37 152 30 152 27 144 35>;
		bpp-10w-fod = /bits/ 8 <166 79 131 95 141 67 142 61
					141 81 141 81 141 75 141 59>;

		pinctrl-names = "wpc_en_default", "wpc_en0", "wpc_en1",
					"sleep_en_default", "sleep_en0", "sleep_en1";
		pinctrl-0 = <&wpc_en_default>;
		pinctrl-1 = <&wpc_en0>;
		pinctrl-2 = <&wpc_en1>;
		pinctrl-3 = <&sleep_en_default>;
		pinctrl-4 = <&sleep_en0>;
		pinctrl-5 = <&sleep_en1>;

		p922x-irq = <&pio 34 0>;
		p922x-pg = <&pio 35 0>;

		wpc-hardware-config = <1>;
		status = "okay";
	};

	max20342: max20342@35 {
		compatible = "maxim,max20342";
		interrupt-parent = <&pio>;
		interrupt-controller;
		pinctrl-names = "default";
		pinctrl-0 = <&max20342_chg_det_pins_default>;
		chg_det_int = <&pio 29 GPIO_ACTIVE_LOW>;
		chg_det_ceb = <&pio 31 GPIO_ACTIVE_LOW>;
		reg = <0x35>;
		status = "okay";
	};
};

&i2c1 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&i2c1_pins>;
	pinctrl-1 = <&i2c1_pins>;
};

&i2c2 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&i2c2_pins>;
	pinctrl-1 = <&i2c2_pins_sleep>;

	tsc@24 {
		compatible = "parade,pt_i2c_adapter";
		pinctrl-names = "default", "sleep";
		pinctrl-0 = <&touch_sensor_pins_default>;
		pinctrl-1 = <&touch_sensor_pins_sleep>;
		reg = <0x24>;

		/* GPIO 0, high-to-low edge triggered */
		interrupts = <0 2>;
		interrupt-parent = <&pio>;
		parade,adapter_id = "pt_i2c_adapter";
		vcc_ana-supply = <&bd71828_ldo_avcc_touch>;
		vcc_vdd-supply = <&bd71828_ldo_dvcc_touch>;

		parade,core {
			parade,name = "pt_core";

			parade,irq_gpio = <&pio 0 0>;
			parade,rst_gpio = <&pio 1 0>;
			parade,hid_desc_register = <1>;
			/*CY_CORE_FLAG_RESTORE_PARAMETERS | PT_CORE_FLAG_POWEROFF_ON_SLEEP*/
			parade,flags = <6>;
			/* CY_CORE_EWG_NONE */
			parade,easy_wakeup_gesture = <0>;
			/* 0:AUTO 1:PIP1_ONLY 2:PIP2_CAPABLE */
			parade,config_dut_generation = <0>;
			/* 0:False 1:True*/
			parade,watchdog_force_stop = <0>;
			/* Firmare Board Prefix */
			parade,fw_board_prefix = "malbec";

			parade,mt {
				parade,name = "pt_mt";

				parade,inp_dev_name = "pt_mt";
	/* CY_MT_FLAG_FLIP | CY_MT_FLAG_INV_X */
				parade,flags = <0x18>;
				parade,abs =
	/* ABS_MT_POSITION_X, CY_ABS_MIN_X, CY_ABS_MAX_X, 0, 0 */
					<0x35 0 1236 0 0
	/* ABS_MT_POSITION_Y, CY_ABS_MIN_Y, CY_ABS_MAX_Y, 0, 0 */
					0x36 0 1648 0 0
	/* ABS_MT_PRESSURE, CY_ABS_MIN_P, CY_ABS_MAX_P, 0, 0 */
					0x3a 0 255 0 0
	/* CY_IGNORE_VALUE, CY_ABS_MIN_W, CY_ABS_MAX_W, 0, 0 */
					0xffff 0 255 0 0
	/* ABS_MT_TRACKING_ID, CY_ABS_MIN_T, CY_ABS_MAX_T, 0, 0 */
					0x39 0 15 0 0
	/* ABS_MT_TOUCH_MAJOR, 0, 255, 0, 0 */
					0x30 0 255 0 0
	/* ABS_MT_TOUCH_MINOR, 0, 255, 0, 0 */
					0xffff 0 255 0 0
	/* ABS_MT_ORIENTATION, -127, 127, 0, 0 */
					0xffff 0xffffff81 127 0 0
	/* ABS_MT_TOOL_TYPE, 0, MT_TOOL_MAX, 0, 0 */
					0xffff 0 1 0 0
	/* ABS_MT_DISTANCE, 0, 255, 0, 0 */
					0x3b 0 255 0 0>;

				parade,vkeys_x = <720>;
				parade,vkeys_y = <1280>;

				parade,virtual_keys =
				/* KeyCode CenterX CenterY Width Height */
					/* KEY_BACK */
					<158 1360 90 160 180
					/* KEY_MENU */
					139 1360 270 160 180
					/* KEY_HOMEPAGE */
					172 1360 450 160 180
					/* KEY SEARCH */
					217 1360 630 160 180>;
			};
		};
	};

	gtx8_touch@5d {
		compatible = "goodix,gt6861";
		reg = <0x5d>;
		pinctrl-names = "pmx_ts_active", "pmx_ts_suspend";
		pinctrl-0 = <&goodix_touch_sensor_pins_default>;
		pinctrl-1 = <&goodix_touch_sensor_pins_sleep>;
		status = "ok";
		interrupt-parent = <&pio>;
		interrupts = <0 IRQ_TYPE_EDGE_FALLING>;
		goodix,avdd-name = "vtouch";
		vtouch-supply = <&bd71828_ldo_avcc_touch>;
		goodix,iovdd-name = "vddio";
		vddio-supply = <&bd71828_ldo_dvcc_touch>;

		goodix,reset-gpio = <&pio 1 0>;
		goodix,irq-gpio = <&pio 0 0>;
		goodix,irq-flags = <2>;	/* 1:trigger rising, 2:trigger falling;*/
		goodix,panel-max-id = <2>;	/* maximum number of concurrent touches supported */
		goodix,panel-max-x = <1236>;
		goodix,panel-max-y = <1648>;
		goodix,panel-max-w = <255>;	/* TOUCH_MAJOR */
		goodix,panel-max-p = <255>;	/* TOUCH_PRESSURE */
		goodix,power-on-delay-us = <300000>;	/*300ms*/
		goodix,power-off-delay-us = <5000>;	/* 5ms */
		/*goodix,swap-axis;*/
		/* goodix,x2x; */
		/* goodix,y2y; */
		sensor0 {
			normal-cfg = [ ]; /* normal config */
		};
	};
};

&hwtcon {
	status = "okay";
	pinctrl-names = "active","inactive";
	pinctrl-0 = <&hwtcon_pins_active>;
	pinctrl-1 = <&hwtcon_pins_inactive>;
	epd{
		panel_dpi_clk = <60000000>;
		panel_width = <1648>;
		panel_height = <1236>;
		panel_area_w = <140>;
		panel_area_h = <105>;
		panel_waveform_type = <4>;
		panel_output_8bit = <0>;
		panel_tcon0 = <5 1241 41 51 0 1 0 0>;
		panel_tcon1 = <5 1241 7 27 0 0 0 0>;
		panel_tcon2 = <4 1243 7 7 4 0 1 7>;
		panel_tcon3 = <1 1246 57 497 0 0 0 0>;
		panel_tcon4 = <0 0 0 0 0 0 0 0>;
		panel_tcon5 = <2 3 256 280 4 1 1 7>;
		panel_dpi = <10 60 7 2 6 3 1>;
		panel_material_type = <4>;
		panel_rotate = <3>;
		modify_wf_mode_counter = <800>;
		status = "okay";
	};
};

&hwtcon_reserved {
	reg = <0 0x44600000 0 0x00700000>;
};

&hwtcon_v2 {
	status = "okay";
	memory-region = <&hwtcon_reserved>;
	pinctrl-names = "active","inactive";
	pinctrl-0 = <&hwtcon_pins_active>;
	pinctrl-1 = <&hwtcon_pins_inactive>;
	epd{
		panel_dpi_clk = <60000000>;
		panel_width = <1648>;
		panel_height = <1236>;
		panel_area_w = <140>;
		panel_area_h = <105>;
		panel_waveform_type = <4>;
		panel_output_8bit = <0>;
		panel_tcon0 = <5 1241 41 51 0 1 0 0>;
		panel_tcon1 = <5 1241 7 27 0 0 0 0>;
		panel_tcon2 = <4 1243 7 7 4 0 1 7>;
		panel_tcon3 = <1 1246 57 497 0 0 0 0>;
		panel_tcon4 = <1 2 7 7 4 1 1 7>;
		panel_tcon5 = <2 3 256 280 4 1 1 7>;
		panel_dpi = <10 60 7 2 6 3 1>;
		panel_material_type = <4>;
		panel_rotate = <3>;
		modify_wf_mode_counter = <800>;
		status = "okay";
	};
};

&pio {
	unused_pin_default: unusedpindefault {
		pins_unused {
			pinmux = <MT8512_PIN_20_GPIO20__FUNC_GPIO20>,
				<MT8512_PIN_32_FL_EN__FUNC_GPIO32>,
				<MT8512_PIN_40_KPROW0__FUNC_GPIO40>,
				<MT8512_PIN_41_KPROW1__FUNC_GPIO41>,
				<MT8512_PIN_43_KPCOL1__FUNC_GPIO43>,
				<MT8512_PIN_46_PWM2__FUNC_GPIO46>, /* CAFL Amber PWM */
				<MT8512_PIN_48_JTMS__FUNC_GPIO48>,
				<MT8512_PIN_102_DMIC1_CLK__FUNC_GPIO102>,
				<MT8512_PIN_103_DMIC1_DAT0__FUNC_GPIO103>,
				<MT8512_PIN_104_DMIC1_DAT1__FUNC_GPIO104>;
			input-enable;
			bias-pull-down;
		};

		pins_touch_id {
			pinmux = <MT8512_PIN_19_GPIO19__FUNC_GPIO19>, /* Touch ID 1 */
				<MT8512_PIN_18_GPIO18__FUNC_GPIO18>; /* Touch ID 0 */
			input-enable;
			bias-pull-up;
		};
	};

	i2c0_pins: i2c0 {
		pins_bus {
			pinmux = <MT8512_PIN_64_SDA0__FUNC_SDA0_0>,
				 <MT8512_PIN_65_SCL0__FUNC_SCL0_0>;
			input-enable;
			bias-disable;
		};
	};

	i2c1_pins: i2c1 {
		pins_bus {
			pinmux = <MT8512_PIN_66_SDA1__FUNC_SDA1_0>,
				 <MT8512_PIN_67_SCL1__FUNC_SCL1_0>;
			input-enable;
			bias-disable;
		};
	};

	i2c2_pins: i2c2 {
		pins_bus {
			pinmux = <MT8512_PIN_68_SDA2__FUNC_SDA2_0>,
				 <MT8512_PIN_69_SCL2__FUNC_SCL2_0>;
			input-enable;
			bias-disable;
		};
	};

	i2c2_pins_sleep: i2c2_sleep {
		pins_bus {
			pinmux = <MT8512_PIN_68_SDA2__FUNC_GPIO68>,
				 <MT8512_PIN_69_SCL2__FUNC_GPIO69>;
			input-disable;
			bias-disable;
		};
	};

	opt3001_pins_default: opt3001_default {
		pins_cmd_dat {
			pinmux = <MT8512_PIN_100_DMIC0_DAT0__FUNC_GPIO100>;
			input-enable;
			bias-disable;
		};
		pins_hw_sku {
			pinmux = <MT8512_PIN_38_WAN_VBAT_EN__FUNC_GPIO38>;
			input-enable;
			bias-disable;
		};
	};

	goodix_touch_sensor_pins_default: touchsensordefault {
		pins_rst {
			pinmux = <MT8512_PIN_1_GPIO1__FUNC_GPIO1>;  /*TOUCH_RST*/
			output-low;
		};
		pins_int {
			pinmux = <MT8512_PIN_0_GPIO0__FUNC_GPIO0>;  /*TOUCH_INT*/
			input-enable;
			bias-disable;
		};
	};

	goodix_touch_sensor_pins_sleep: touchsensorsleep {
		pins_rst {
			pinmux = <MT8512_PIN_1_GPIO1__FUNC_GPIO1>;  /*TOUCH_RST*/
			input-enable;
			bias-pull-down;
		};
		pins_int {
			pinmux = <MT8512_PIN_0_GPIO0__FUNC_GPIO0>;  /*TOUCH_INT*/
			input-enable;
			bias-pull-down;
		};
	};

	touch_sensor_pins_default: touchsensordefault {
		pins_rst {
			pinmux = <MT8512_PIN_1_GPIO1__FUNC_GPIO1>;  /*TOUCH_RST*/
			input-enable;
			bias-disable;
		};
		pins_int {
			pinmux = <MT8512_PIN_0_GPIO0__FUNC_GPIO0>;  /*TOUCH_INT*/
			input-enable;
			bias-disable;
		};
	};

	touch_sensor_pins_sleep: touchsensorsleep {
		pins_rst {
			pinmux = <MT8512_PIN_1_GPIO1__FUNC_GPIO1>;  /*TOUCH_RST*/
			input-enable;
			bias-disable;
		};
		pins_int {
			pinmux = <MT8512_PIN_0_GPIO0__FUNC_GPIO0>;  /*TOUCH_INT*/
			input-enable;
			bias-disable;
		};
	};

	uart1_pin: uart1default {
		pins_rx {
			pinmux = <MT8512_PIN_54_URXD1__FUNC_URXD1>;
			input-enable;
			bias-pull-up;
		};

		pins_tx {
			pinmux = <MT8512_PIN_55_UTXD1__FUNC_UTXD1>;
		};

		pins_rts {
			pinmux = <MT8512_PIN_56_URTS1__FUNC_URTS1>;
		};

		pins_cts {
			pinmux = <MT8512_PIN_57_UCTS1__FUNC_UCTS1>;
			input-enable;
			bias-pull-up;
		};
	};

	lm36922h_pins: lm36922h_pins {
		pins_cmd_dat {
			pinmux = <MT8512_PIN_45_PWM1__FUNC_GPIO45>;
			input-disable;
			bias-disable;
		};
	};

	lm36922h_pins_sleep: lm36922h_pins_sleep {
		pins_cmd_dat {
			pinmux = <MT8512_PIN_45_PWM1__FUNC_GPIO45>;
			input-enable;
			bias-pull-down;
		};
	};

	lm36923_pins: lm36923_pins {
		pins_cmd_dat {
			pinmux = <MT8512_PIN_47_PWM3__FUNC_GPIO47>;
			input-disable;
			bias-disable;
		};
	};

	lm36923_pins_sleep: lm36923_pins_sleep {
		pins_cmd_dat {
			pinmux = <MT8512_PIN_47_PWM3__FUNC_GPIO47>;
			input-enable;
			bias-pull-down;
		};
	};

	fp9966_pins_default: fp9966pinsdefault {
		pins_cmd_dat {
			pinmux = <MT8512_PIN_44_PWM0__FUNC_GPIO44>;
			bias-disable;
		};
	};

	fp9966_pins_sleep: fp9966pinssleep {
		pins_cmd_dat {
			pinmux = <MT8512_PIN_44_PWM0__FUNC_GPIO44>;
			input-enable;
			bias-pull-down;
		};
	};

	wpc_en_default: wpc_en_default {
		pins_int {
			pinmux = <MT8512_PIN_34_SOC2WAN_RESET__FUNC_GPIO34>;
			input-enable;
			bias-disable;
		};

		pins_en {
			pinmux = <MT8512_PIN_33_WAN_SMS_RDY__FUNC_GPIO33>;
			output-low;
			bias-disable;
		};
	};

	wpc_en0: wpc_en0 {
		pins_en {
			pinmux = <MT8512_PIN_33_WAN_SMS_RDY__FUNC_GPIO33>;
			output-low;
			bias-disable;
		};
	};

	wpc_en1: wpc_en1 {
		pins_en {
			pinmux = <MT8512_PIN_33_WAN_SMS_RDY__FUNC_GPIO33>;
			output-high;
			bias-disable;
		};
	};

	sleep_en_default: sleep_en_default {
		pins_pdet {
			pinmux = <MT8512_PIN_35_WAN_FM_RDY__FUNC_GPIO35>;
			input-enable;
			bias-disable;
		};
	};

	sleep_en0: sleep_en0 {
		pins_en {
			pinmux = <MT8512_PIN_33_WAN_SMS_RDY__FUNC_GPIO33>;
			output-low;
			bias-disable;
		};
	};

	sleep_en1: sleep_en1 {
		pins_en {
			pinmux = <MT8512_PIN_33_WAN_SMS_RDY__FUNC_GPIO33>;
			output-high;
			bias-disable;
		};
	};

	max20342_chg_det_pins_default: max20342_chg_det_pins_default {
		pins_cmd_dat {
			pinmux = <MT8512_PIN_29_CHG_IRQ__FUNC_GPIO29>;
			input-enable;
			bias-disable;
		};
	};
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pin>;
	status = "okay";
};

&consys {
	pinctrl-names = "default";
	pinctrl-0 = <&consys_pins_default>;
	1v8_en = <&pio 12 0>;	/* 1.8V */
        3v3_en = <&pio 13 0>;	/* 3.3V */
	vcn28-supply = <&bd71828_ldo_vosnvs>;
        2v8_en = <&pio 54 0>;	/* 2.8V */
	status = "okay";
	/delete-property/ pinctrl-1;
	/delete-property/ pinctrl-2;
};

&extcon_usb {
	vbus-gpios = <&pio 31 GPIO_ACTIVE_LOW>;
};

&usbvbus_det_pins_default {
	pins_cmd_dat {
		pinmux = <MT8512_PIN_31_CHG_CEB__FUNC_GPIO31>;
		input-enable;
		bias-disable;
	};
};

&tboard_thermistor {
	compatible = "generic-adc-thermal";
	#thermal-sensor-cells = <0>;
	io-channels = <&auxadc 0>, <&auxadc 1>, <&auxadc 2>, <&auxadc 3>;
	io-channel-names = "sensor-channel";

	auxadc_0 {
		pull_up_r = <100000>;
		over_critical_low = <4397119>;
		pull_up_voltage = <1800>;
		ntc_table = <7>;
		adc_channel = <0>;
		temperature_r = <0>;
		channel_name = "mtktspcb1";
	};
	auxadc_1 {
		pull_up_r = <47000>;
		over_critical_low = <4397119>;
		pull_up_voltage = <1800>;
		ntc_table = <7>;
		adc_channel = <1>;
		temperature_r = <0>;
		channel_name = "mtktspcb2";
	};
	auxadc_2 {
		pull_up_r = <100000>;
		over_critical_low = <4397119>;
		pull_up_voltage = <1800>;
		ntc_table = <7>;
		adc_channel = <2>;
		temperature_r = <0>;
		channel_name = "mtktsAP";
	};
	auxadc_3 {
		pull_up_r = <100000>;
		over_critical_low = <4397119>;
		pull_up_voltage = <1800>;
		ntc_table = <7>;
		adc_channel = <3>;
		temperature_r = <0>;
		channel_name = "mtktspcb3";
	};
};
