CONFIG_ARM=y
CONFIG_ARM_SMCCC=y
CONFIG_ARCH_MEDIATEK=y
CONFIG_SYS_TEXT_BASE=0x44e00000
CONFIG_SYS_MALLOC_F_LEN=0x4000
CONFIG_TARGET_MT8110_BELLATRIX=y
CONFIG_FALCON=y
CONFIG_FALCON_BIOS_ADDR=0xdf9a0000
CONFIG_FALCON_BIOS_SIZE=0x50000
CONFIG_FALCON_STORAGE_BIOS_ADDR=0xdf980000
CONFIG_FALCON_STORAGE_BIOS_SIZE=0x20000
CONFIG_LPAE=y
CONFIG_KERNEL_LOWMEM_SIZE=0x20000000
CONFIG_NR_DRAM_BANKS=1
# CONFIG_ANDROID_BOOT_IMAGE is not set
CONFIG_FIT=y
CONFIG_FIT_SIGNATURE=y
# CONFIG_ARCH_FIXUP_FDT_MEMORY is not set
CONFIG_DISABLE_CONSOLE=y
CONFIG_DEFAULT_FDT_FILE="mt8110-bellatrix.dtb"
CONFIG_BOARD_LATE_INIT=y
CONFIG_EINK=y
CONFIG_ARCH_MISC_INIT=y
CONFIG_UFBL=y
CONFIG_HIBERNATION=y
CONFIG_HIBERNATION_FALCON=y
CONFIG_EINK_DISPLAY=y
CONFIG_SYS_PROMPT="MT8110> "
CONFIG_CMD_BOOTMENU=y
CONFIG_CMD_MEMINFO=y
CONFIG_CMD_MEMTEST=y
CONFIG_CMD_ADC=y
CONFIG_CMD_GPIO=y
CONFIG_CMD_GPT=y
# CONFIG_RANDOM_UUID is not set
CONFIG_CMD_I2C=y
CONFIG_CMD_MMC=y
CONFIG_CMD_CACHE=y
CONFIG_CMD_CONSYS=y
CONFIG_DEFAULT_DEVICE_TREE="mt8110-bellatrix"
# CONFIG_NET is not set
CONFIG_REGMAP=y
CONFIG_SYSCON=y
CONFIG_MT_AUXADC=y
CONFIG_CLK=y
CONFIG_USB_FUNCTION_FASTBOOT=y
CONFIG_FASTBOOT_BUF_ADDR=0x47000000
CONFIG_FASTBOOT_BUF_SIZE=0x1e00000
CONFIG_FASTBOOT_FLASH=y
CONFIG_FASTBOOT_FLASH_MMC_DEV=0
CONFIG_DM_GPIO=y
CONFIG_DM_I2C=y
CONFIG_DM_I2C_GPIO=y
CONFIG_MTK_I2C=y
CONFIG_DM_MMC=y
# CONFIG_MMC_HW_PARTITIONING is not set
CONFIG_SUPPORT_EMMC_RPMB=y
CONFIG_MMC_HS200_SUPPORT=y
CONFIG_MMC_MTK=y
CONFIG_PHY=y
CONFIG_PHY_MTK_TPHY=y
CONFIG_PINCTRL=y
CONFIG_PINCONF=y
CONFIG_PINCTRL_MT8512=y
CONFIG_DM_PMIC=y
CONFIG_PMIC_BD71828=y
CONFIG_CHARGER_DET_MAX20342=y
CONFIG_RAM=y
CONFIG_BAUDRATE=921600
CONFIG_DM_SERIAL=y
CONFIG_MTK_SERIAL=y
CONFIG_DM_THERMAL=y
CONFIG_MTK_THERMAL=y
CONFIG_TIMER=y
CONFIG_MTK_TIMER=y
CONFIG_USB=y
CONFIG_DM_USB=y
CONFIG_DM_USB_GADGET=y
CONFIG_USB_MTU3=y
CONFIG_USB_GADGET=y
CONFIG_USB_GADGET_MANUFACTURER="MediaTek"
CONFIG_USB_GADGET_VENDOR_NUM=0x0e8d
CONFIG_USB_GADGET_PRODUCT_NUM=0x201c
CONFIG_DM_BACKLIGHT=y
CONFIG_BACKLIGHT_LM3692X=y
CONFIG_BACKLIGHT_FP9966=y
CONFIG_WDT=y
CONFIG_WDT_MTK=y
CONFIG_MTK_HWTCON_SUPPORT=y
CONFIG_MTK_KEDUMP_MINI_SUPPORT=y
CONFIG_MTK_AEE_SAVE_DEBUGINFO_RESERVED_BUFFER=y
CONFIG_FS_FAT=y
CONFIG_LZ4=y
CONFIG_LZMA=y
CONFIG_LZO=y
