config MTK_HWTCON_V2
	tristate "build HWTCON V2 driver"
	help
	    This HWTCON module is used for drive electronic ink screen show picture.
		    HWTCON will convert Y4 format input picture to electronic conversion signal,
		    which will drive ink screen show input picture.
